extends layout

block content

  h1 ITMD542 LAB4 
  h1 Movie Application 
  
  p
    | This is a simple movie database management application built with Node.js and Express.
    | You can find movies.
  p
    | To get started, click the link below:
  a(href='/movies') View Movies