extends layout

block content
  .intro-section
    h1.ITMD542-title ITMD542 LAB4
    h1.movie-app-title Movie Application

    p.intro-text
      | This is a simple movie database management application built with Node.js and Express.
      | You can find movies.

    p.intro-text
      | To get started, click the button below:
      
    a.btn.btn-primary(href='/movies') View Movies
