extends layout

block content
  .movie_add
    h1= title
    p Use the form below to add a movie.
    hr
    if msg 
      each val in msg 
        ul 
          li(class='redtext')= val.msg
    form(method='POST' action='/movies/add')
      label Title: 
        | 
        input(type='text' name='title') 
      br
      label Director: 
        | 
        input(type='text' name='director') 
      br
      label Release Year: 
        | 
        input(type='text' name='year') 
      br
      label Plot: 
        |
        textarea(name='notes' style='height: auto; overflow: auto;')
      br
      button(type='submit') Add Movie
      | 
      button(type='button' onclick="window.location.href='/movies'") Cancel
